html {
    font-size: 15px; /* px signifie 'pixels': la taille de base pour la police est désormais 10 pixels de haut  */
    font-family: 'Open Sans', sans-serif; /* cela devrait être le reste du résultat obtenu à partir de Google fonts */
  }
  h1 {
    font-size: 35px;
    text-align: center;
  }
  
  p, li {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1px;
  }
  html { /* Changer la couleur de la page */
    background-color: #edf0f7;
  }
body { /* Mettre en forme le corps de page */
  width: 700px;
  margin: 0 auto;
  background-color: #0e0f0f;
  padding: 0 20px 20px 20px;
  
}
h1 { /* Positionner le titre et le mettre en forme*/ 
    margin: 0;
    padding: 20px 0;
    color: #fdfafa;
   
  }
  
  img { /* Centrer l'image */ 
    display: block;
    margin: 0 auto;
  }

  /* Image gallery*/ 
  * {
    box-sizing: border-box;
  }
  /* Position the image container (needed to position the left and right arrows) */
.container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: rgb(237, 240, 244);
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease; 
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a ... background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #515154; 
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #fefbfb;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* Container for image text */
.caption-container {
  text-align: center;
  background-color: rgb(13, 13, 13); 
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
} 
/* 3 columns side by side */
.column {
  float: left;
  width: 33%;
}
/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #090909;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}



  
  
  
  
  